
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
}
body .root-container {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
