
.drag-and-drop-section {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/images/pexels-irina-iriser-1366957.jpg");
  background-position: center;
  background-size: cover;
}
