
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #222;
}
.root-container {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.task-app {
    width: 100%;
    max-width: 550px;
    background-color: #071D3F;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 8px;
}
.task-app h1 {
    color: #FFF;
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 30px;
}
.task-app img {
    width: 50px;
}
.task-app .input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.task-app .input-section input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
}
.task-app .input-section button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgba(63, 207, 135, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color, color, ease-in-out 150ms;
}
.task-app .input-section button:hover {
    background-color: rgba(63, 207, 135, 1);
    color:rgba(255, 255, 255, 1);
}
.task-app #list-container li {
    position: relative;
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color: #FFF;
}
.task-app #list-container li::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-image: url("assets/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.task-app #list-container li.checked {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}
.task-app #list-container li.checked::before {
    background-image: url("assets/checked.png");
}
.task-app #list-container li img {
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    opacity: 0.7;
    transition: opacity ease-in-out 150ms;
}
.task-app #list-container li img:hover {
    opacity: 1;
}
.task-app .remove-all-btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    margin-top: 50px;
    background-color: rgba(207, 63, 106, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color, color, ease-in-out 150ms;
}
.task-app .remove-all-btn:hover {
    background-color: rgba(207, 63, 106, 1);
}