
header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40%;
  width: 100vw;
  z-index: 1000;
  a, h1{
    color: var(--white);
    padding: 0 20px;
    text-decoration: none;
  }
  nav {
    display: flex;
    font-size: 20px;
    text-align: center;
    a {
      padding: 30px 20px;
      text-decoration: none;
      color: var(--white);
      width: 110px;
    }
    a::before {
      content: '';
      position: absolute;
      top: 60px;
      width: 0;
      height: 3px;
      background-color: var(--steel-blue);
      border-radius: 4px;
      transition: all ease-in-out 250ms;
    }
    a:hover::before {
      width: 80px;
    }
  }
}