
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    position: absolute;
    display: block;
    font-size: 3rem;
    color: var(--white);
    text-align: center;
    max-width: 1000px;
    z-index: 100;
    .js-span {
      color: #F0DB4F; // JavaScript hex color
    }
    .vite-span {
      background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff ); // ViteJS hex colors
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);
  }
}