
header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50%;
    padding: 0 100px;
    margin: 0 auto 0 auto;
    width: 100vw;
    z-index: 1000;
}
header a, h1{
    color: var(--white);
    padding: 0 20px;
    text-decoration: none;
}
header nav {
    display: flex;
    font-size: 20px;
    text-align: center;
}
header nav a {
    padding: 30px 20px;
    text-decoration: none;
    color: var(--white);
    width: 110px;
}
header nav a::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 0;
    height: 3px;
    background-color: var(--steel-blue);
    border-radius: 4px;
    transition: all ease-in-out 250ms;
}
header nav a:hover::before {
    width: 80px;
}