.projects-section {
    position: relative;
    display: flex;
}
.projects {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 150px 15px 50px 15px;
}
.projects a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--azureish-white);
    border-radius: 30px;
    padding: 0 0 8px 16px;
    width: 50vw;
    transition: background-color, color, border-radius, ease-in-out 150ms;
}
.projects a:hover {
    border-radius: 30px;
    color: var(--white);
    background-color: var(--steel-blue);
}
.projects-section img {
    width: 100%;
    height: 720px;
    object-fit: cover;
    filter: brightness(0.15);
}