
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.root-container {
    margin-right: 0.5;
    margin-left: 0.5;
}