
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #222;
}
.root-container {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.task-app {
    width: 100%;
    max-width: 550px;
    background-color: #071D3F;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 8px;
}
.task-app h1 {
    color: #FFF;
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 30px;
}
.task-app img {
    width: 50px;
}
.task-app .input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.task-app .input-section input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
}
.task-app .input-section button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #FF5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}